/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../../fonts/roboto-v48-latin-regular.woff2") format("woff2");
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../../fonts/roboto-v48-latin-700.woff2") format("woff2");
}
