:root {
  --color-primary-dark: #000000;
  --color-primary-normal: #3e3e3e;
  --color-primary-light: #9fadc2;
  --color-secondary-dark: #8f99a8;
  --color-secondary-normal: #ffffff;
  --color-secondary-light: #f6f8ff;
  --color-brand: #0075ff;
}
