.button {
  background-color: transparent;
  color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  padding: 20px 46px;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Roboto';
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-brand-dark);
  color: var(--color-secondary-normal);
  box-shadow: 0 13px 27px 0 var(--color-shadow);
  border-color: var(--color-brand-dark);
}

.burger {
  display: block;
  position: relative;
  flex: 1;
  cursor: pointer;
  z-index: 20;

  &__line {
    display: block;
    background-color: var(--color-secondary-normal);
    width: 24px;
    height: 3px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: '';
    background-color: var(--color-secondary-normal);
    width: 18px;
    height: 3px;
    border-radius: 2px;

    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
    width: 14px;
  }

  &.is-open {
    &::before {
      top: 0;
      width: 24px;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      width: 24px;
      transform: rotate(-45deg);
    }

    .burger__line {
      scale: 0;
    }
  }

  &:hover &__line,
  &:hover::before,
  &:hover::after {
    background-color: var(--color-brand-light);
  }
}
