.about-section {
  padding-top: 104px;

  &__container {
    display: flex;
    gap: 24px;
  }

  &__title {
    margin-bottom: 0;
    //max-width: 324px;
    flex-basis: calc((100% - 24px) / 2);
    text-align: start;
  }

  &__text-container {
    flex-basis: calc((100% - 24px) / 2);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__subtitle {
    margin-bottom: 16px;
  }
}
