.footer {
  min-height: 360px;
  background-image: url("../img/footer-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../img/footer-img@2x.jpg");
  }
}
