.footer {
  height: 206px;
  background-image: url('../img/footer-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @media screen and (min-width: $tablet) {
    height: 360px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../img/footer-img@2x.jpg');
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 32px;

    margin-top: auto;
    align-self: flex-end;
  }
}
