.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
  }

  &__phone-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  &__phone {
    display: none;
    color: var(--color-secondary-normal);

    &:hover {
      color: var(--color-brand-light);
    }

    @media screen and (min-width: $tablet) {
      display: inline;
    }
  }

  &__phone-icon {
    fill: var(--color-secondary-normal);
    width: 32px;
    height: 32px;
  }
}
