.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
  }

  &__phone-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }

  &__phone {
    display: none;
    color: var(--color-secondary-normal);

    &:hover {
      color: var(--color-brand-light);
    }

    @media screen and (min-width: $tablet) {
      display: inline;
    }
  }

  &__phone-icon {
    fill: var(--color-secondary-normal);
    width: 32px;
    height: 32px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.5s ease;
    z-index: 10;

    &.is-open {
      left: 0;

      .header__backdrope {
        opacity: 0.6;
        visibility: visible;
      }
    }

    @media screen and (min-width: $tablet) {
      width: 50%;
    }
  }

  &__menu-container {
    padding: 20px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    background-color: var(--color-brand);

    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: var(--color-secondary-normal);
    }

    @media screen and (min-width: $tablet) {
      align-items: flex-end;
    }
  }

  &__menu-item {
    position: relative;
    color: var(--color-secondary-normal);
    letter-spacing: 2px;

    &:hover {
      color: var(--color-brand-light);
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-brand-light);
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.5s;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__menu-tel {
    font-size: 12px;
    line-height: 3;
    padding-top: 16px;
  }

  &__backdrope {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    z-index: -10;

    background-color: var(--color-primary-normal);
    opacity: 0;
    visibility: hidden;
  }
}
